
###> symfony/framework-bundle ###
.env
.env.test
.env.dev
.env.local
.env.preprod
.env.local.php
.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/docs/
###< symfony/framework-bundle ###


###> symfony/phpunit-bridge ###
.phpunit.result.cache
phpunit.xml
###< symfony/phpunit-bridge ###

###> liip/imagine-bundle ###
/public/media/cache/
/public/medias/
/public/tests/
###< liip/imagine-bundle ###

/docs
/.phpdoc
phpDocumentor.phar
compo