{# require format (deliberation) #}

    {% set deliberation = format %}

    <div>{{ 'twig.partials.admin.modules.media.info.pdf.deliberation.date' | trans}} {{ deliberation.date | date("d/m/Y") }}</div>
    