{#
    require visuel
#}

{# --- Affichage de l'élément racine du visuel --- #}

<div class='row'>
    {% include 'entity/visuel/element/_voir____element.html.twig' with {'element': visuel.elemZone} only %}
</div>