{% extends 'interfaces/public/_part____base_mediatheque_accueil.html.twig' %}
{% set titre = "Accueil Médiathèque" %}

{% block title %}
    {{ parent() }} - {{ titre }}
{% endblock %}

{% block content %}
   
    <div class='col-12'>
        <h1 class="text-center">Médiathèque de Guesnain - 20 ans</h1>
        <h2 class="text-center">Êtes-vous prêts à rejoindre notre équipe ?</h2>
        <h5 class="text-center">Pour le savoir, nous vous avons préparé une série de {{ questions | length }} tests !</h5>
        <br/><br/>
    </div>

    <form action="" method="post">
        
        <div class="row">

            {% for question in questions %}
               
               {% include 'interfaces/mediatheque_quizz/_champ_formulaire.html.twig' with {'question': question} only %}

            {% endfor %}

        </div>
        
        <br/><br/>

        <div class='text-center'>
            <input type="submit" value="Vérifier les réponses">
            <br/><br/>
            <a href='{{ path('mediatheque_quizz') }}'>Effacer les réponses</a>
        </div>

    </form>

    

{% endblock %}