{% extends 'interfaces/public/_part____base_mediatheque_accueil.html.twig' %}
{% set titre = "Accueil Médiathèque" %}

{% block title %}
    {{ parent() }} - {{ titre }}
{% endblock %}

{% block content %}
   
    <div class='col-12'>
        <h1 class="text-center">Médiathèque de Guesnain - 20 ans</h1>
        <h2 class="text-center">Êtes-vous prêts à rejoindre notre équipe ?</h2>
        <br/><br/>
    </div>

    <form action="" method="post">
        
        <div class="row">
            {% include 'interfaces/mediatheque_quizz/_champ_formulaire.html.twig' with {
                    'correction': cor_1,
                    'reponse': rep_1,
                    'id': 'jeu_1',
                    'titre': 'Test n°1'                    
                } only %}
        </div>
        
        <div class='text-center'>
            <input type="submit" value="Vérifier les réponses">
            <br/>
            <a href='{{ path('mediatheque_quizz') }}'>Effacer les réponses</a>
        </div>

    </form>

    

{% endblock %}