{# Page d'accueil de l'agenda du portail médiathèque #}
{# VALIDE #}
{# DEBUG : TRAD : Voir l'agenda complet / Titre #}
{#
    require evenements
    require evenementsPrincipaux
#}
{% extends 'interfaces/public/_part____base_portail_mediatheque.html.twig' %}
{% set titre = 'Agenda' %}
{% if titreAlternatif is defined %}
    {% set titre = titreAlternatif %}
{% endif %}

{% block title %}
    {{ parent() }} - {{ titre }}
{% endblock %}

{% block content %}
    
    {# --- Agenda --- #}
    <div class='col-12'>
        {% include 'entity/agenda/_mod____agenda.html.twig'
            with {
                    'titre': titre,                    
                    'evenements': evenements,
                    'evenementsPrincipaux': evenementsPrincipaux,
                    'moduleEvenement': '_mod____agenda____evenement____simple_2_portail_mediatheque'
            } only
        %}
    </div>

{% endblock %}