{#
    require visuel
    require element
#}

<a href="{{ path('admin_visuel_element_modifier', {'idvisuel': visuel.id, 'idelemx': element.elemx.id}) }}" class="text-white">
    <i class="fas fa-edit"></i>
    Editer
</a>