{#
    require elemX
#}
<a href="{{ path('admin_visuel_element_supprimer', {'idelemx': elemX.id}) }}" class="badge badge-danger font-weight-bold">
    <i class='fas fa-trash-alt'></i>
    <i class='fas fa-puzzle-piece'></i>
</a>