{#
    require element 
#}

{# Si l'element est une zone, la valeur de col sera gérée directement par le elemZone #}
{% if element.nomClasse != "zone" %}
    <div class='col-12'>
{% endif %}

    {% include 'entity/visuel/element/' ~ element.nomClasse | lower ~ '/_voir____' ~ element.nomClasse | lower ~ '.html.twig' with {'element': element} only %}

{% if element.nomClasse != "zone" %}
    </div>
{% endif %}