/* Couleur de background */
.sc4-bg-red
{
    background-color: #D9230F;
}

.sc4-bg-rouge
{
    background-color: #D9230F;
}

.sc4-bg-white
{
    background-color: #FFFFFF;
}

/* Couleur de background */
.sc4-bold
{
    font-weight: bold;
}

/* Couleur du texte */
.sc4-white
{
    color: white;
}
.sc4-black
{
    color: black;
}
.sc4-texte
{
    color: #212529;
}
/* Taille du texte */
.sc4-size-2
{
    font-size: 1.2em;
}

.sc4-size-3
{
    font-size: 1.3em;
}

.sc4-size-4
{
    font-size: 1.4em;
}