<!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Admin</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link py-2" href="{{ path('admin_accueil') }}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Tableau de bord</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Menu des médias -->
      <div class="sidebar-heading">
        Médias
      </div>

      <li class="nav-item">
        <a class="nav-link py-1" href="{{ path('admin_medias') }}">
          <i class="fas fa-photo-video"></i>
          <span>TRAD:Gérer les médias</span>
        </a>
      </li>
      <hr class="sidebar-divider">

      <!-- Menu des articles -->
      {% include 'interfaces/admin/_menu_section.html.twig' with {'titre': 'Article', 'objetTitre': 'article', 'objetsTitre': 'articles'} only %}     
      <hr class="sidebar-divider">
      
      <!-- Menu de l'agenda -->      
      {% include 'interfaces/admin/_menu_section.html.twig' with {'titre': 'Agenda', 'objetTitre': 'evenement', 'objetsTitre': 'evenements'} only %}     
      <hr class="sidebar-divider">
      
      <!-- Menu des organismes -->
      {% include 'interfaces/admin/_menu_section.html.twig' with {'titre': 'Organismes', 'objetTitre': 'organisme', 'objetsTitre': 'organismes'} only %}     
      <hr class="sidebar-divider">
      
      <!-- Menu des lieux -->
      {% include 'interfaces/admin/_menu_section.html.twig' with {'titre': 'Lieux', 'objetTitre': 'lieu', 'objetsTitre': 'lieux'} only %}     
      <hr class="sidebar-divider">
      
      <!-- Menu des profils -->
      <div class="sidebar-heading">
        Profils
      </div>

      <li class="nav-item">
        <a class="nav-link py-1" href="{{ path('admin_profils') }}">
          <i class="fas fa-users"></i>
          <span>TRAD:Gérer les profils</span>
        </a>
      </li>
      <hr class="sidebar-divider">
      
      <!-- Heading -->
      <div class="sidebar-heading">
        Configuration
      </div>

      <li class="nav-item">
        <a class="nav-link py-1" href="{{ path('admin_config_enums_voir') }}">
          <i class="fas fa-wrench"></i>
          <span>TRAD:Gérer les énums</span>
        </a>
      </li>
      
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->