{# require format (affiche) #}

{% set affiche = format %}

<div>{{ 'twig.partials.admin.modules.media.info.affiche.date' | trans}} {{ affiche.date | date("d/m/Y") }}</div>
<div>{{ 'twig.partials.admin.modules.media.info.affiche.datefin' | trans}}{{ affiche.datefin | date("d/m/Y") }}</div>