{#
    require telephones
#}
{% for telephone in telephones %}
    <tr>
        <td>
            <i class="fas fa-phone"></i>
        </td>
        <td>
            {# Affiche du numéro #}
            {% include 'entity/cartevisite/telephone/_voir____telephone.html.twig' with {'telephone': telephone} only  %}
        </td>
        <td>
            {# Affiche de la valeur "nom" #}
            <i>{{ telephone.nom }}</i>
        </td>
        <td>
            {# Bouton d'édition #}
            {{ path('admin_cartevisite_editer', {'contactName': 'telephone', 'idcontact': telephone.id}) | BoutonLienEditerMini() }}
            {# Bouton de suppression #}
            {{ path('admin_cartevisite_contact_supprimer', {'contactName': 'telephone', 'idcontact': telephone.id}) | BoutonLienSupprimerMini() }}
        </td>
    </tr>
{% endfor %}