{#
    require telephone
    DEBUG : afficher le privé si autorisation uniquement
#}
<span>
    {% if telephone.prive == false %}
        {{ telephone.numero }} 
    {% else %}
        {% if is_granted("ROLE_ADMIN") %}
            <span class='bg-danger'>{{ telephone.numero }}</span>        
        {% endif %}
    {% endif %}
</span>