{#
    require mails
#}
{% for mail in mails %}
    <tr>
        <td>
            <i class="fas fa-at"></i>
        </td>
        <td>
            {# Affiche du mail #}
            {% include 'entity/cartevisite/mail/_voir____mail.html.twig' with {'mail': mail} only  %}            
        </td>
        <td>
            {# Bouton d'édition #}
            {{ path('admin_cartevisite_editer', {'contactName': 'mail', 'idcontact': mail.id}) | BoutonLienEditerMini() }}
            {# Bouton de suppression #}
            {{ path('admin_cartevisite_contact_supprimer', {'contactName': 'mail', 'idcontact': mail.id}) | BoutonLienSupprimerMini() }}
        </td>
    </tr>
{% endfor %}