{#
    require mail
    DEBUG : afficher le privé si autorisation uniquement
#}
<span>
    {% if mail.prive == false %}
        <a href='mailto:{{ mail.courriel }}'>{{ mail.courriel }}</a>
    {% else %}
        {% if is_granted("ROLE_ADMIN") %}
            <span class='bg-danger'>{{ mail.courriel }}</span>
        {% endif %}
    {% endif %}
</span>