{# require fichier #}
<tr>
    <td>
        {{ fichier.media.document.id }}
    </td>
    <td>
        <a href="{{ path('admin_medias_document', {'iddocument': fichier.media.document.id}) }}">
            {{ fichier.nom }}
        </a>
    </td>
</tr>