{% for fichier in dossierActuel.fichiers %}
    {% if fichier.media.document.id is defined %}
        <tr>
            <td>
                {{ fichier.media.document.id }}
            </td>
            <td>
                <a href="{{ path('admin_medias_document', {'iddocument': fichier.media.document.id}) }}">
                    {{ fichier.nom }}
                </a>
            </td>
            <td>
                {% if fichier.media.support.formatName == "photo" %}
                    {% if fichier.media.support.format.actualite == true %}
                        <i class="fa-regular fa-images"></i>
                    {% else %}
                        <i class="fa-regular fa-images"></i>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    {% endif %}
{% endfor %}