{#
    require article 
#}

{# --- Affichage du visuel --- #}
{% if article.visuel is not null %}

    {% if date() < article.dateDebutPublication or article.dateDebutPublication is null %}
        DEBUG : Cet article n'est pas disponible pour le moment...
    {% else %}
        {% if article.etat == 'archive' %}
            <div class="alert alert-danger" role="alert">
                <i class="fas fa-calendar-times"></i> Attention : Cet article est une <b>archive</b>, il reste disponible pour consultation mais les informations qu'il contient sont succeptible de ne plus être d'actualité.                
            </div>            
        {% endif %}
        {% include 'entity/visuel/visuel/_voir____visuel.html.twig' with {'visuel': article.visuel} only %}
    {% endif %}
{% endif %}