{# 
    require nomColonnes : tableau avec le nom des différentes colones
    require tbody : structure du tableau
#}

{% embed 'composants/card/_card.html.twig' %}
    {% block contenu %}
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        {% for nomColonne in nomColonnes %}
                            <th>{{ nomColonne }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        {% for nomColonne in nomColonnes %}
                            <th>{{ nomColonne }}</th>
                        {% endfor %}
                    </tr>
                </tfoot>
                <tbody>
                    {{ tbody }}
                </tboby>
            </table>
        </div>
    {% endblock %}
{% endembed %}