{# Affichage d'événements et d'événements evenements Principaux #}
{# V3 - 01/04/2022 #}
{#
    require evenementsPrincipaux : tableau d'événements classé principaux
    require evenements : tableau d'événements à afficher
    require titre : titre du module
    option lienAll : chemin du lien
    option titreAll : titre du lien pour voir tous les évenements
    option moduleEvenement : permet l'affichage d'un evenement sous une forme alternative
#}
{% if moduleEvenement is not defined %}
    {% set moduleEvenement = '_mod____agenda____evenement____simple_2' %}
{% endif %}

<div class='row'>
    <div class='col-12 col-xl-6'>
        {# Affichage du titre du module #}
        {% include 'interfaces/public/_part____titre_page.html.twig' with {'titre': titre} only %}
    </div>

    {# XL - Affichage du lien pour voir l'ensemble de l'agenda #}
    {% if lienAll is defined and titreAll is defined %}
        {% include 'interfaces/public/element/_btn____voir_plus.html.twig' with {'taille': 'XL', 'titre': titreAll, 'lien': lienAll} only %}
    {% endif %}

    {# Affichage des évenements #}
    {% include 'entity/agenda/_mod____agenda____base.html.twig' with {'evenementsPrincipaux': evenementsPrincipaux, 'evenements': evenements, 'moduleEvenement': moduleEvenement} only %}    

    {# < XL - Affichage du lien pour voir l'ensemble de l'agenda #}
    {% if lienAll is defined and titreAll is defined %}
        {% include 'interfaces/public/element/_btn____voir_plus.html.twig' with {'taille': '<XL', 'titre': titreAll, 'lien': lienAll} only %}
    {% endif %}

</div>






{# 
    Ancien à conserver un peu en cas de probleme (25/02/2022)
<div class='col-12 mb-4'>
    <div class='row'>
        <div class='col-6'>
            {% include 'entity/agenda/_mod____agenda____evenements____principaux.html.twig' with {'evenements': evenementsPrincipaux} only %}
        </div>
        <div class='col-6'>
            {% for evenement in evenements %}
                {% include 'entity/agenda/_mod____agenda____evenement____simple.html.twig' with {'evenement': evenement} only %}
            {% endfor %}            
        </div>
    </div>
</div> #}