{#
    require evenements
#}

<div id="carouselEvenementPrincipal" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% for evenement in evenements %}
        {% if loop.first %}<div class="carousel-item active"  data-bs-interval="10000"> {% else %}<div class="carousel-item" data-bs-interval="10000">{% endif %}
            {% include 'entity/agenda/_mod____agenda____evenement____principal.html.twig' with {'evenement': evenement} only %}
        </div>
    {% endfor %}
  </div>
</div>