{#
    require evenement
#}
<div class="card">
    {# <img class="img-fluid" src="http://symcomg/media/cache/normal/medias/photo/1632901901-dalida.jpg" alt="Card image cap"> #}
    {% include 'entity/classeur/_mod____classeurs____icone.html.twig' with {'classeurs': evenement.classeurs, 'liipFiltre': 'normal4'} only %}
    <div class="card-body">
        <h5 class="card-title">{{ evenement.titre }}</h5>
        <p class="card-text">
            {# Affichage de la date #}
            {% include 'entity/agenda/evenement/_voir____evenement____date_complete.html.twig' with {'evenement': evenement} only %}
            {# Affichage de l'heure #}
            {% include 'entity/agenda/evenement/_voir____evenement____horaires_complets.html.twig' with {'evenement': evenement} only %}
            <br/>
            {# Affichage du/des lieu(x) #}
            {% for lieu in evenement.lieux %}
                {{ lieu.nom }}
            {% endfor %}
        </p>
        <a href="{{ path('site_evenement', {'idevenement': evenement.id}) }}" class="btn btn-danger col-12">En savoir plus...</a>
    </div>
</div>