{# Affichage d'un listing avec tous les arrêtés du classeur #}
{# -VALIDE- #}
{#
    require classeur
    require datesService
    option titre : titre du module
    option lienAll : chemin du lien
    option titreAll : titre du lien pour voir tous les évenements
#}

<div class='row'>

    {# Affichage du titre du module #}
    <div class='col-12 col-xl-6'>
        {% if titre is defined %}
            {% include 'interfaces/public/_part____titre_page.html.twig' with {'titre': titre} only %}
        {% endif %}
    </div>

    {# XL - Affichage du lien pour voir l'ensemble des arrêtés #}
    {% if lienAll is defined and titreAll is defined%}
        {% include 'interfaces/public/element/_btn____voir_plus.html.twig' with {'taille': 'XL', 'titre': titreAll, 'lien': lienAll} only %}
    {% endif %}

    {# Affichage des arrêtés #}
    {% for document in classeur.filtreParSupport('pdf', 'arrete') %}
        {% if loop.first == false %}
            <hr/>
        {% endif %}
        {% include 'entity/classeur/pdf/' ~ document.media.support.FormatName ~ '/_apercu____document____arrete_municipal.html.twig' with {'document': document, 'datesService': datesService} only %}    
    {% endfor %}

    {# < XL - Affichage du lien pour voir l'ensemble des arrêtés #}
    {% if lienAll is defined and titreAll is defined%}
        {% include 'interfaces/public/element/_btn____voir_plus.html.twig' with {'taille': '<XL', 'titre': titreAll, 'lien': lienAll} only %}
    {% endif %}

</div>