{#
    require poste
#}

{# Affichage de la fonction #}
<div class='font-weight-bold'>
    {% include 'entity/poste/poste/_voir____poste____fonction.html.twig' %}
</div>

{# Affichage des profils #}
<div>
    {% include 'entity/poste/poste/_voir____poste____profils.html.twig' with {'poste': poste} only %}
</div>

{# Affichage de la carte de visite si elle existe #}
<div>
    {% include 'entity/poste/poste/_voir____poste____cartevisite.html.twig' with {'poste': poste} only %}
</div>
