{% extends 'interfaces/public/_part____base_public.html.twig' %}
{% set titre = 'Services' %}
{#
    require services
#}

{% block title %}
    {{ parent() }} - {{ titre }}    
{% endblock %}

{% block content %}
    
    {# ---- Titre de la page --- #}
    {% include 'interfaces/public/_part____titre_page.html.twig' with {'titre': titre} only %}

    {% for service in services %}
        
        {# --- Affichage d'un service --- #}
        {% if service.local == affichageLocalUniquement %}
            <div class='col-3'>
                <div class="card mb-4">

                    {% include 'entity/organisme/organisme/_voir____organisme____photo_profil.html.twig' with {'organisme': service.organisme, 'liipFiltre': 'carre3'} only %}

                    <div class="card-body">
                        <a href='{{ path('site_service', {'slugservice': service.slug}) }}' class='text-dark'>
                            <h5 class="card-title text-center">{{ service.nom }}</h5>
                        </a>                    
                    </div>
                </div>
            </div>
        {% endif %}

    {% endfor %}
    
{% endblock %}