{% extends 'interfaces/public/_part____base_public.html.twig' %}
{% if association.sigle != null %}
    {% set titre = 'Association : '~ association.nom ~ '(' ~ association.sigle ~ ')' %}
{% else %}
    {% set titre = 'Association : '~ association.nom %}
{% endif %}
{#
    require association
#}

{% block title %}
    {{ parent() }} - {{ titre }}    
{% endblock %}

{% block content %}
    
    {# ---- Titre de la page --- #}
    {% include 'interfaces/public/_part____titre_page.html.twig' with {'titre': titre} only %}

    {# <div class='row mb-4'> #}
        <div class='col-4 mb-4'>
            {# --- Photo de profil --- #}
            {% include 'entity/organisme/organisme/_voir____organisme____photo_profil.html.twig' with {'organisme': association.organisme, 'liipFiltre': 'normal'} only %}
        </div>
        <div class='col-8 mb-4'>
            {# --- Types d'association --- #}
            <h6>{% include 'entity/organisme/association/_voir____association____types.html.twig' with {'types': association.types} only %}</h6>
            {# --- Texte de présentation de l'association --- #}
            <h6><span class='font-weight-bold'>Présentation :</span></h6>
            {{ association.presentation | raw }}              
        </div>
    {# </div> #}

    <div class='col-8'>
        {# Affichage des Actualités #}
        {% if association.organisme.elemOrganismes | length > 0 %}
            {% include 'interfaces/public/_part____titre_page.html.twig' with {'titre': "Actualités"} only %}        
            <div class='row'>
                {% for elemOrganisme in association.organisme.elemOrganismes %}
                    {% include 'entity/article/article/_mod____article____actualite.html.twig' with {'article': elemOrganisme.elemX.visuel.articleAnnexe} only %}
                {% endfor %}
            </div>
        {% endif %}

        {# Affichage de l'agenda #}
        {% if association.organisme.evenements | length > 0 %}
            {% include 'interfaces/public/_part____titre_page.html.twig' with {'titre': "Agenda"} only %}
            {% for evenement in association.organisme.evenements %}
                {% include 'entity/agenda/_mod____agenda____evenement____simple_avec_icone.html.twig' with {'evenement': evenement} only %}
            {% endfor %}
        {% endif %}
    </div>
    
    <div class='col-4'>
        {# Affichage du module de carte de visite #}
        {% include 'entity/organisme/organisme/_mod____organisme____cartevisite.html.twig' with {'organisme': association.organisme, 'titre': "Coordonnées"} only %}
        
        {# Affichage du module de postes #}
        {% include 'entity/organisme/organisme/_mod____organisme____postes.html.twig' with {'organisme': association.organisme, 'titre': "Bureau"} only %}        

        {# Affichage du module de liens #}
        {% include 'entity/organisme/organisme/_mod____organisme____liens.html.twig' with {'organisme': association.organisme, 'titre': "Liens"} only %}        
    </div>


    {# <div class='col-12'>
        {% include 'interfaces/public/_part____titre_page.html.twig' with {'titre': "Albums photos et documents"} only %}
        {% include 'interfaces/_debug____message.html.twig' with {'message': "Affichage des classeurs (organisme->classeurs)"} only %}    
    </div> #}
    
    {# {% include 'interfaces/_debug____message.html.twig' with {'message': "Affichage des groupes"} only %}    
    Groupes - Nom, présentation, types #}

    
{% endblock %}