{% extends 'interfaces/public/_part____base_accueil.html.twig' %}
{# {% extends 'interfaces/public/_part____base_public.html.twig' %} #}
{% set titre = 'Actualités' %}
{% if titreAlternatif is defined %}
    {% set titre = titreAlternatif %}
{% endif %}
{#
    require articles
#}

{% block title %}
    {{ parent() }} - {{ titre }}
{% endblock %}

{% block content %}
    
    {# ---- Titre de la page --- #}
    {% include 'interfaces/public/_part____titre_page.html.twig' with {'titre': titre} only %}

    {# --- Affichage des articles --- #}
    {# <div class='col-4'>
        {% include 'interfaces/_debug____message.html.twig' with {'message': "Recherche d'article"} only %}
    </div> #}
    <div class='col-8'>
        {% include 'entity/article/article/_mod____articles____actualites.html.twig' with {'articles': articles} only %}
    </div>

{% endblock %}